@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --red: rgb(174, 26, 26);
  --red-shadow: 0 0 15px rgb(99, 30, 30);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --gallery-gap: calc(var(--index) * 10);
  --rotation: 1.6;
  --fz: var(--index);
}

body {
  background-color: #181818;
  background-size: 50px;
  background-repeat: repeat;
  font-family: 'Raleway';
  line-height: 1.55;
  color: #fafafa;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullet {
  background-color: var(--red) !important;
  opacity: .7 !important;

}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.swiper-button-prev {
  bottom: 0;
}