.main-header {
  position: relative;

}

/*
.main-header::after {
   content: '';
  position: absolute;
  width: 100%;
  z-index: -1;
  margin-top: calc(-25px - var(--scrollTop) / 20);
  height: 25px;
  box-shadow: rgba(174, 26, 26, .9) 0px 20px 25px -5px, rgba(174, 26, 26, .4) 0px 10px 10px -5px;
}
*/

:root {
  --rotation: 1.6
}

@media screen and (max-width: 767px) {
  :root {
    --rotation1: 2.8
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  :root {
    --rotation1: 2.6
  }
}

.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(239, 244, 240);
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
}

.layers__bridge {
  transform: translate3d(0, calc(var(--scrollTop) / 2.6), 0);
  z-index: 0;
}

.layers__cars {
  transform: translate3d(0, calc(var(--scrollTop) / 12), 0);
}

.layers__builds {
  z-index: 0;
  transform: translate3d(0, calc(var(--scrollTop) / 3.4), 0);
}

.layers__header {
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop) / var(--rotation)), 0);
  will-change: transform;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--red);
  /*text-shadow: var(--red-shadow);*/
}

.layers__title {
  font-size: calc(var(--index) * 2.5);
  letter-spacing: calc(var(--index) / 2.25);
}

.layers__caption {
  font-size: calc(var(--index) * 1.175);
  letter-spacing: calc(var(--index) / 3.5);
}

.main-article {
  z-index: -1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;

}

.main-article__header {
  z-index: -1;
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 7);
  will-change: transform;
  margin-top: -50vh;
  transform: translate3d(0, calc(var(--scrollTop) / var(--rotation)), 0);



  color: var(--red);
  /*text-shadow: var(--red-shadow)
   transform: translate3d(0, calc(var(--scrollTop) / var(--rotation)), 0);;*/
}

.main-article__paragraph {
  max-width: calc(var(--index) * 30);
  font-size: calc(var(--index) * .9);

  /*  transform: var(--main-article-transform);*/
  will-change: transform;

}

.container {
  padding: 0 7vw;
}

.gallery {
  display: flex;
  padding: calc(var(--index) * 8) 0;
}

.gallery>* {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__item {
  max-width: calc(var(--index) * 21);
  margin-bottom: var(--gallery-gap);
  max-height: 180vh;
  border-radius: 8px;
}

.gallery__left {
  margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__right .gallery__item {
  margin: 0;
  margin-top: var(--gallery-gap);
}

.text-block {
  color: var(--color-text);
  position: relative;
}

.text-block__h {
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-header);
}

.text-block__p {
  line-height: 1.75;
}