.main-header {
  position: relative;

}

/*
.main-header::after {
   content: '';
  position: absolute;
  width: 100%;
  z-index: -1;
  margin-top: calc(-25px - var(--scrollTop) / 20);
  height: 25px;
  box-shadow: rgba(174, 26, 26, .9) 0px 20px 25px -5px, rgba(174, 26, 26, .4) 0px 10px 10px -5px;
}
*/


.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(239, 244, 240);
}

.layer {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
}

.layers__bridge {
  z-index: 3;
  transform: translate3d(0, calc(var(--scrollTop) / 2.6), 0);
}

.layers__cars {
  z-index: 5;
  transform: translate3d(0, calc(var(--scrollTop) / 12), 0);
}

.layers__builds {
  z-index: 3;
  transform: translate3d(0, calc(var(--scrollTop) / 3.4), 0);
}

.layers__header {
  z-index: 4;
  transform: translate3d(0, calc(var(--scrollTop) / var(--rotation)), 0);
  will-change: transform;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--red);
  /*text-shadow: var(--red-shadow);*/
}

.layers__title {
  font-size: calc(var(--index) * 2.5);
  letter-spacing: calc(var(--index) / 2.25);
}

.layers__caption {
  font-size: calc(var(--index) * 1.175);
  letter-spacing: calc(var(--index) / 3.5);
}

.intro {
  padding: 10vh 10vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  row-gap: 40px;
}


.intro__image {
  width: calc(var(--index) * 25);
  height: auto;
  border-radius: 8px;
  filter: grayscale(30%);
}

@media (max-width: 990px) {
  .intro {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

@media (max-width: 820px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 390px) {}

.intro__image:hover {
  filter: grayscale(30%);
}

.intro__content {
  /*margin-top: -50vh;
 transform: translate3d(0, calc(var(--scrollTop) / var(--rotation)), 0);*/
}


.intro__header {
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 7);
  will-change: transform;
  color: var(--red);
  /*text-shadow: var(--red-shadow)
   transform: translate3d(0, calc(var(--scrollTop) / var(--rotation)), 0);;*/
}

.intro__paragraph {
  max-width: calc(var(--index) * 25);
  font-size: calc(var(--index) * 1.2);

  /*  transform: var(--intro-transform);*/
  will-change: transform;

}

.container {
  padding: 0 7vw;
}

.gallery {
  display: flex;
  padding: calc(var(--index) * 8) 0;
}

.gallery>* {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__item {
  max-width: calc(var(--index) * 21);
  margin-bottom: var(--gallery-gap);
  max-height: 180vh;
  border-radius: 8px;
}

.gallery__left {
  margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__right .gallery__item {
  margin: 0;
  margin-top: var(--gallery-gap);
}

.text-block {
  color: var(--color-text);
  position: relative;
}

.text-block__h {
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-header);
}

.text-block__p {
  line-height: 1.75;
}